html{
  font-family: "Lucida Console", "Courier New", monospace;
}

input[type=text], select, input[type=number], input[type=date] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    border-color: rgb(29, 29, 29);
    color:#ccc;
  }
  
  input[type=submit], button {
    background-color: #2e946d;
    color:#ccc;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover, button:hover {
    background-color: #237052;
  }

  .split {
    padding: 1em;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar {
    left: 0;
    width: 20%;
    background-color: rgb(43, 43, 43);
    color:#ccc;
  }
  
  .canvas {
    right: 0;
    width: 80%;
    background-color: rgb(31, 31, 31);
    color:#ccc;
  }

  #container {
    position: absolute;
      width: 100%;
      height: 90%;
  }

  #dTitle{
    color: #2e946d;
  }
  